@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    display: block;
    position: relative;
    box-shadow:0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%)
}
.card-footer{
        color: #777;
        padding: 10px 15px;      
        text-align: center;
        border-top: 1px solid #e6e6e6;
 
}
.card-footer:before {
    content: '';
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
}
.todo-list li{
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 10px ;
}

.filters li a {
    color: inherit;
    padding: 3px 5px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}   

.filters li a.active { 
    border-color: #e6e6e6;
}